body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    margin: 0; /* Eliminar margen predeterminado */
}

/* Estilos para el contenedor de bienvenida */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    text-align: center;
}

.welcome-container .welcome-text {
    max-width: 800px; /* Limitar el ancho del texto */
}

.welcome-container h1 {
    color: #007bff; /* Color del título */
    font-size: 2.5em;
    margin-bottom: 0; /* Eliminar margen inferior para el título */
}

.welcome-container h2 {
    color: #007bff; /* Color del subtítulo */
    font-size: 2em;
    margin-top: 10px; /* Espacio entre título y subtítulo */
}

.welcome-container p {
    color: #000; /* Color negro para el texto */
    font-size: 1.2em;
    margin-top: 20px; /* Espacio entre el texto y el párrafo */
}

/* Estilos para el contenedor fluido */
.container-fluid {
    background-color: #007bff;
    color: #fff;
}

/* Estilos para la barra de navegación */
.navbar {
    padding: 15px;
    margin-bottom: 30px;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.1em;
}

.navbar-nav .nav-link:hover {
    color: #d4d4d4;
}

/* Estilos para los botones */
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button#ver_odontologos, button#ver_pacientes {
    margin-bottom: 20px;
}

/* Estilos para los formularios */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form input[type="text"], form input[type="email"], form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form button {
    width: 100%;
    background-color: #28a745;
    border-color: #28a745;
}

form button:hover {
    background-color: #218838;
}

/* Estilos para las tablas */
table {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para mensajes y resultados */
#message, #result {
    padding: 20px;
    margin-top: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    form {
        padding: 10px;
    }
}
